
        /* Custom CSS styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #4267B2; /* Facebook blue */
            color: #fff;
            padding: 5px 0;
            text-align: center;
            margin-bottom: 10px;
        }

        .back-home-links {
            align-items: center;
        }

        .back-home-links a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
            margin-right: 10px;
            transition: color 0.3s ease;
        }

        .back-home-links a:hover {
            color: #0056b3;
        }

        h2 {
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            text-align: center;
            color: #007bff;
            text-shadow: -1px -1px 0px gray;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-label {
            font-weight: bold;
            font-size: 18px;
            font-family: 'Courier New', Courier, monospace;
            color: #0056b3;
        }

        .form-control {
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input::placeholder {
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
        }

        .file-input {
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }

        textarea::placeholder {
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
        }

        option {
            font-size: 14px;
            font-family: 'Courier New', Courier, monospace;
        }

        .password-area {
            display: flex;
            justify-content: space-between;
        }

        .btn-primary {
            padding: 10px 20px;
            background-color: #4267B2; /* Facebook blue */
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
        }

        .footer {
            background-color: #08539e;
            color: #fff;
            padding: 10px 0;
        }

        .footer p {
            margin-bottom: 0;
        }

        .footer ul {
            list-style: none;
            padding: 0;
        }

        .footer ul li {
            display: inline;
            margin-right: 10px;
        }

        .footer a {
            color: #7e6e6e;
            text-decoration: none;
        }

        .footer a:hover {
            text-decoration: underline;
        }
